@media (max-width: 776px){
    .icon-wrap-ul{
        display: block;
        text-align: center;
    }
    .line-border-col{
        padding-left: 4.9px;
        margin-top: 20px;
        text-align: center;
    }
}
@media (max-width: 360px){
    .hero-text {
        font-size: 30px;
        line-height: 40px;
    }
    .section-title {
        font-size: 25px;
        line-height: 31px;
    }
  .about-title{
      font-size: 24px;
      line-height: 30px;
  }
    .about-img{
        width: 345px;
        margin-top: 24px;
    }
    .all-services-title{
        font-size: 23px;
        line-height: 30px;
        text-align: center;
        position: relative;
        bottom: 60px;
    }
    .all-services-button{
        position: absolute;
        left: 100px;
    }
    .all-project-img{
        margin-left:-10px;
    }
    .footer-content {
        margin-left: 90px;
    }
    .portfolio-form-description-h6{
        padding-top: 50px;
        line-height: 2;
    }
    .portfolio-form-input {
        height: 40px;
        width: 250px;
        border-radius: 20px;
        position: relative;
        left: 17%;
    }
    .portfolio-form-button {
        width: 180px;
        border: none;
        border-radius:  20px;
        position: relative;
        left: 26%;
        top: 20px;
    }
    .footer-description-p:before {
        content: "";
        position: absolute;
        left: 5px;
    }
}